[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
img2pdf = "*"
pyvips = "*"
requests = "*"
selenium = "*"
bs4 = "*"
lxml = "*"
python-telegram-bot = "*"

[dev-packages]

[requires]
python_version = "3.10"
